body {
  background-color: #e8e8e8;
}

.header {
	height: 50px;
}


.form-signin {
  max-width: 340px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading {
	font-size: 1.5em;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 12px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

div.main_content {
	margin: 10px 20px;	
}

.al-right {
	text-align: right;
}

.al-left {
	text-align: left;
}

.clientName {
	font-weight: bold;
	color: #000;	
	background: #ffc;
	padding: 0.4em;
	border-radius: 0.4em;
}

.clientMac {
	font-weight: normal;
	font-size: 60%;
	color: #000;	
	background: #eee;
	padding: 0.2em;
	border-radius: 0.2em;
}

.clientName.client0 {
	color: #000000;
	background-color: #eb6645;
}
.clientName.client1 {
	color: #143d90;
	background-color: #009ee1;
}
.clientName.client2 {
	color: #dcdcdc;
	background-color: #000000;
}
.clientName.client3 {
	color: #000000;
	background-color: #dcdcdc;
}
.clientName.client4 {
	color: #010101;
	background-color: #b9d165;
}
.clientName.client5 {
	color: #cebca5;
	background-color: #673b15;
}
.clientName.client6 {
	color: #cebca5;
	background-color: #673b15;
}
.clientName.client7 {
	color: #f19da0;
	background-color: #360947;
}
.clientName.client8 {
	color: #673b15;
	background-color: #fff69b;
}
.clientName.client9 {
	color: #ffffff;
	background-color: #e95d0f;
}
.clientName.client10 {
	color: #b9d065;
	background-color: #00501f;
}
.clientName.client11 {
	color: #ffffff;
	background-color: #0d0f49;
}
.clientName.client12 {
	color: #000000;
	background-color: #cdc16b;
}

