{% extends 'base.html.twig' %} {% block body %}
<h1>Client edit</h1>

{% block editForm %} {{ include('client/form.html.twig') }} {% endblock
%}


	
	{{ form_start(delete_form) }} <input type="submit" value="Delete" class="btn btn-danger">
		{{ form_end(delete_form) }}
	<br>
	<a href="{{ path('client_index') }}" class="btn btn-default">Back to the list</a>	

{% endblock %}
